.mediaViewInfo {
    --web-view-name: 2nd;
    --web-view-id: n_nd;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

:root {
    --web-view-ids: n_nd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

#n_nd {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 41, 41, 1);
    overflow: hidden;
    --web-view-name: 2nd;
    --web-view-id: n_nd;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

#Back_1 {
    position: absolute;
    width: 98px;
    height: 37px;
    left: 5%;
    top: 5%;
    overflow: visible;
    --web-animation: fadein 0.3s linear;
    --web-action-type: page;
    --web-action-target: Main.html;
    cursor: pointer;
}

#back-arrow {
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(0, 0, 0, 0);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.back-arrow {
    overflow: visible;
    position: absolute;
    width: 32px;
    height: 20px;
    transform: translate(-15px, -53px) matrix(1, 0, 0, 1, 8.9999, 63.9998) rotate(90deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}

#back {
    fill: transparent;
}

.back {
    position: absolute;
    overflow: visible;
    width: 98px;
    height: 37px;
    left: 0px;
    top: 0px;
}

#Back_w {
    left: 36px;
    top: 5px;
    position: absolute;
    overflow: visible;
    width: 42px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
}

#return_home {
    position: absolute;
    width: 46px;
    height: 44px;
    right: 5%;
    top: 5%;
    overflow: visible;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: Main.html;
    cursor: pointer;
}

#home_icon {
    fill: rgba(255, 255, 255, 1);
}

.home_icon {
    overflow: visible;
    position: absolute;
    width: 28px;
    height: 28px;
    left: 9px;
    top: 8px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#home_box {
    opacity: 0.5;
    fill: transparent;
}

.home_box {
    overflow: visible;
    position: absolute;
    width: 46px;
    height: 44px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#lottie_image {
    fill: transparent;
}

.lottie_image {
    position: absolute;
    overflow: visible;
    width: auto;
    height: auto;
    left: 12%;
    top: 20%;
}

#taking_picture {
    position: absolute;
    width: 72%;
    height: 50px;
    left: 14%;
    bottom: 18%;
    overflow: visible;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: capture.html;
    cursor: pointer;
}

#input_text {
    fill: rgba(237, 178, 84, 1);
}

.input_text {
    position: absolute;
    overflow: visible;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
}

#input_pic {
    left: 0px;
    top: 16px;
    position: absolute;
    overflow: visible;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(41, 41, 41, 1);
}