.mediaViewInfo {
    --web-view-name: capture;
    --web-view-id: capture;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

:root {
    --web-view-ids: capture;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

#capture {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 41, 41, 1);
    overflow: hidden;
    --web-view-name: capture;
    --web-view-id: capture;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

#Back_2 {
    position: absolute;
    width: 98px;
    height: 37px;
    left: 5%;
    top: 5%;
    overflow: visible;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: 2nd.html;
    cursor: pointer;
}

#back-arrow_ {
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(0, 0, 0, 0);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.back-arrow_ {
    overflow: visible;
    position: absolute;
    width: 32px;
    height: 20px;
    transform: translate(-15px, -53px) matrix(1, 0, 0, 1, 8.9999, 63.9998) rotate(90deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}

#back_ {
    fill: transparent;
}

.back_ {
    position: absolute;
    overflow: visible;
    width: 98px;
    height: 37px;
    left: 0px;
    top: 0px;
}

#Back {
    left: 36px;
    top: 5px;
    position: absolute;
    overflow: visible;
    width: 42px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
}

#uploadfile {
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

#captured_img {
    fill: transparent;
    stroke: rgba(112, 112, 112, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-dasharray: 1;
    stroke-dashoffset: 0;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.captured_img {
    position: absolute;
    overflow: visible;
    width: 100%;
    height: 50%;
    margin-left: 12%;
    top: 14%;
}

#capture_img {
    position: absolute;
    width: 72%;
    height: 50px;
    left: 14%;
    bottom: 18%;
    overflow: visible;
}

#capture_text {
    fill: rgba(237, 178, 84, 1);
}

.capture_text {
    position: absolute;
    overflow: visible;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
}

#capture_bd {
    left: 0px;
    top: 16px;
    position: absolute;
    overflow: visible;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(41, 41, 41, 1);
}

#upload {
    position: absolute;
    width: 72%;
    height: 50px;
    left: 14%;
    bottom: 18%;
    overflow: visible;
}