.mediaViewInfo {
    --web-view-name: Main;
    --web-view-id: Main;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

:root {
    --web-view-ids: Main;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

#Main {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 41, 41, 1);
    overflow: hidden;
    --web-view-name: Main;
    --web-view-id: Main;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

@keyframes {}

#MKDIR__ {
    right: 12%;
    top: 35%;
    position: absolute;
    overflow: visible;
    width: 135px;
    white-space: nowrap;
    text-align: left;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: rgba(255, 255, 255, 1);
}

#Button_Log_In {
    position: absolute;
    width: 72%;
    height: 50px;
    left: 14%;
    bottom: 18%;
    overflow: visible;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: 2nd.html;
    cursor: pointer;
}

#login_box {
    fill: rgba(237, 178, 84, 1);
}

.login_box {
    position: absolute;
    overflow: visible;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
}

#LOG_IN {
    left: 0px;
    top: 16px;
    position: absolute;
    overflow: visible;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(41, 41, 41, 1);
}